<div id="{{id}}" class="modal fade" tabindex="-1">
  	<div class="modal-dialog {{options.size}}">
    	<div class="modal-content">
      		<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<ui-icon type="{{options.icon}}" *ngIf="options.icon"></ui-icon>
				<h4 class="modal-title">{{options.title}}</h4>
			</div>
			<div class="modal-body">
				<div *ngIf="isString(options.body)" (click)="onBodyClick($event)" [innerHtml]="options.body" [class.center]="options.centerText"></div>
				<div #modalbody></div>
			</div>
            <div class="modal-footer component-footer" [class.hidden]="!options.footer">
                <div *ngIf="isString(options.footer)" [innerHtml]="options.footer"></div>
				<div #modalfooter></div>
            </div>
			<div class="modal-footer" *ngIf="options.onSubmit">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->