<div class="indicator">
    <div class="row hide">
        <div class="col-xs-2">
            <toggle-button class="pull-right" [(value)]="indicator.allowNeg" *ngIf="indicator.env != 'sports'">exclude < 0</toggle-button>
        </div>
    </div>

    <div class="value-container">
        <!-- indicator itself is a type of IndicatorParamGroup -->
        <div class="params-container">
            <backlive-indicator-param [param]="indicator" [isRoot]="true"></backlive-indicator-param>
            <input #searchBox searchbox [(ngModel)]="searchKey" (search)="dataSearchKey=$event" (keydown)="onSearchKey($event)" type="text" class="form-control" [class.short]="hasParams()" [placeholder]="hasParams() ? 'search data points' : 'select a data points below of search here to start building your calculation'" />
        </div>

        <!-- value transforms and sort options -->
        <div class="row" *ngIf="hasParams()">
            <div class="aggr col-xs-12 col-md-4" *ngIf="indicator.env === 'sports'">
                <select [(ngModel)]="indicator.exclIndTypes" (change)="clearEquation()" class="form-control">
                    <option value="101">team</option>
                    <option value="100,102">player</option>
                </select>
            </div>
            <div class="aggr col-xs-12 col-md-6">
                Transform Value
                <ui-icon type="question" tooltip="Choose 'No Transform' to use exact value from above calculation. Or choose to average, sum, % change etc. the value over a specified time period."></ui-icon>
                <br/>
                <select [(ngModel)]="indicator.aggrType" class="form-control">
                    <option value="val">No Transform</option>
                    <option value="past">Past Value</option>
                    <option value="avg">Average</option>
                    <option value="ravg">Rel to Avg.</option>
                    <option *ngIf="indicator.env === 'sports'" value="pos"># positive</option>
                    <option *ngIf="indicator.env !== 'sports'" value="cagr">CAGR</option>
                    <option value="sum">Sum</option>
                    <option value="chng">% Change</option>
                    <option *ngIf="indicator.env !== 'sports'" value="geo">Geom. Avg.</option>
                </select>
                <div [class.hidden]="indicator.aggrType === 'val'" class="inline">
                    <span *ngIf="indicator.env != 'sports' || indicator.aggrSpanType == 1">
                        <span class="last">last</span> <input [(ngModel)]="indicator.aggrSpan" type="text" class="form-control aggr-span" />
                    </span>
                    <template [ngIf]="indicator.env !== 'sports'">
                        <select [(ngModel)]="indicator.aggrSpanType" class="form-control">
                            <option value="1">days</option>
                            <option value="2">months</option>
                            <option value="3">years</option>
                        </select>
                    </template>
                    <template [ngIf]="indicator.env === 'sports'">
                        <select [(ngModel)]="indicator.aggrSpanType" class="form-control">
                            <option value="1">games</option>
                            <option value="2">season to date</option>
                        </select>
                        <span> vs </span>
                        <select [(ngModel)]="indicator.aggrSpanOpp" class="form-control">
                            <option value="0">any team</option>
                            <option value="1">opponent</option>
                        </select>
                    </template>
                </div>
            </div>
            <div *ngIf="indicator.env !== 'sports'" class="col-xs-6 col-md-6">
                Rank By <ui-icon type="question" tooltip="Rank all stocks together or rank each sector separately"></ui-icon>
                <br/>
                <radio-button [(value)]="indicator.rankIndustry" 
                    [options]="[
                        { value: 0, title: 'all stocks' }, 
                        { value: 1, title: 'sector' }
                    ]">
                </radio-button>
            </div>
            <div *ngIf="indicator.env === 'sports'" class="col-xs-6 col-md-4">
                Value Type <ui-icon type="question" tooltip="Should value be for team, their opponent, difference or sum of team and their opponent"></ui-icon>
                <br/>
                <radio-button [(value)]="indicator.valType" 
                    [options]="[
                        { value: 1, title: 'team' }, 
                        { value: 2, title: 'opponent' },
                        { value: 3, title: 'difference' },
                        { value: 4, title: 'sum' }
                    ]">
                </radio-button>
            </div>
            <div *ngIf="indicator.env == 'sports'" ng-show="indicator.exclIndTypes == '100,102'" class="col-xs-6 col-md-3">
                Player <ui-icon type="question" tooltip="Should value be for team, their opponent, difference or sum of team and their opponent"></ui-icon>
                <br/>
                <select [(ngModel)]="indicator.playerSort" class="form-control">
                    <option value="1">Best</option>
                    <option value="0">Worst</option>
                </select>
                <select [(ngModel)]="indicator.playerNum" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <radio-button [(value)]="indicator.player" 
                    [options]="[
                        { value: 'a', title: 'All' }, 
                        { value: 's', title: 'Starter' },
                        { value: 'b', title: 'Bench' }
                    ]">
                </radio-button>
            </div>
            <div class="col-xs-6 col-md-3 hide">
                <span>Include Only If</span> <ui-icon type="question" tooltip="Filter out stocks whose value for this indicator do not pass this rule. To use this indicator as a pure exclusion only, set the 'Sort By' to N/A."></ui-icon>
                <br/>
                <radio-button [(value)]="indicator.exclType" 
                    [options]="[
                        { value: -1, title: 'N/A' }, 
                        { value: 1, title: 'value' },
                        { value: 0, title: 'percent rank' }
                    ]">
                </radio-button>
                <select [(ngModel)]="indicator.exclOp" [class.hidden]="indicator.exclType == -1" class="form-control">
                    <!-- reversed values since specifying inclusion, but backend logic performs exclusion -->
                    <option value="2">&lt;=</option>
                    <option value="4">&lt;</option>
                    <option value="1">&gt;=</option>
                    <option value="3">&gt;</option>
                </select>
                <input [(ngModel)]="indicator.excl" [class.hidden]="indicator.exclType == -1" type="text" class="form-control" placeholder="value" />
            </div>
            <div *ngIf="indicator.env != 'sports'" class="col-xs-6 col-md-3 hide">
                <span>
                    Close Position If <ui-icon type="question" tooltip="The indicator's value may change during your holding period. Use this setting to dynamically exit position early if the value of the indicator breaches a certain threshold."></ui-icon>
                    <br/>
                </span>
                <div>
                    <radio-button [(value)]="indicator.exitType" 
                        [options]="[
                            { value: -1, title: 'N/A' }, 
                            { value: 1, title: 'value' }
                        ]">
                    </radio-button>
                    <select [(ngModel)]="indicator.exitOp" [class.hidden]="indicator.exitType == -1" class="form-control">
                        <option value="1">&lt;</option>
                        <option value="3">&lt;=</option>
                        <option value="2">&gt;</option>
                        <option value="4">&gt;=</option>
                    </select>
                    <input [(ngModel)]="indicator.exit" [class.hidden]="indicator.exitType == -1" type="text" class="form-control" placeholder="value" />
                </div>
            </div>
        </div>
    </div>

    <!-- data menu -->
    <backlive-indicator-data-menu [searchKey]="dataSearchKey" [searchKeyCode]="searchKeyCode" [excludedTypes]="indicator.exclIndTypes" (select)="onSelectParam($event)"></backlive-indicator-data-menu>

    <!-- save buttons -->
    <div class="row save-button">
        <div class="col-xs-12 col-md-offset-4 col-md-4">
            <input [(ngModel)]="indicator.name" type="text" class="form-control" placeholder="name your indicator" maxlength="25" />
            <ui-button icon="checkmark" type="submit" [full]="true" size="large" (click)="closeEditor()">Update Indicator</ui-button>
        </div>
    </div>
</div>