@import "css/plugins/mixins.less";
@import "css/themes/colors.less";
@import "css/themes/text.less";

.form-control {
    display: inline-block;
    margin-bottom: 20px;
    &[searchbox] {
        margin-bottom: 0;
    }
}
.aggr {
    .form-control {
        width: auto;
    }
    .aggr-span {
        width: 70px;
    }
    .last {
        margin: 0 5px;
    }
}
.params-container {
    position: relative;
    padding: 10px;
    border: 1px solid @border-default;
    border-bottom: none;
    .border-top-radius(5px);
}
.save-button {
    padding-top: 40px;
}