<div class="filter-menu">
    <div class="left-col col">
        <div *ngFor="let filter of filters" class="filter" [class.active]="filter.active" (click)="selectFilter(filter)">
            {{filter.name}} <span *ngIf="filter.activeCount" class="pull-right">{{filter.activeCount}}</span>
        </div>
    </div>
    <div class="right-col col">
        <div>
            <ui-icon type="search"></ui-icon><input type="text" searchbox (search)="searchFilterOptions($event)" placeholder="Search..." />
        </div>
        <div *ngIf="activeFilter">
            <div *ngFor="let option of activeFilter.options" class="filter-option" [class.hidden]="option.hidden">
                {{option.name}} <check-box [(checked)]="option.active" (change)="filterChanged(option)"></check-box>
            </div>
        </div>
    </div>
</div>