<div [animate]="pageAnimation" *ngIf="eventLoop">
    <svg>
        <template ngFor let-node [ngForOf]="nodes" let-i="index">
            <template [ngIf]="node.ntype === NodeType.Indicator || node.ntype === NodeType.Strategy">
                <path [attr.id]="'path' + node._id" [attr.d]="getNodeLine(node)" [attr.stroke]="node.activated ? '#4797A8' : '#12455a'" stroke-width="2" />
                <path *ngIf="node.activating" [attr.d]="getActivationLine(node)" [attr.stroke]="'#f00'" stroke-width="3" />
            </template>
        </template>
    </svg>
    <div class="hyper-params clearfix">
        <div class="param">
            <label>Learning Rate</label>
            <input type="text" [(ngModel)]="network.learnRate" class="form-control" (blur)="update()" />
        </div>
        <div class="param">
            <label># Epochs</label>
            <input type="text" [(ngModel)]="network.epochs" class="form-control" (blur)="update()" />
        </div>
        <div class="param">
            <label>Reg. Param</label>
            <input type="text" [(ngModel)]="network.regParam" class="form-control" (blur)="update()" />
        </div>
        <div class="param">
            <label>Hidden Nodes</label>
            <input type="text"[(ngModel)]="network.hiddenLayers[0].numNodes" class="form-control" (blur)="update()" />
        </div>
    </div>
    <template ngFor let-node [ngForOf]="nodes" let-i="index">
        <div [ngSwitch]="node.ntype">
            <!-- indicators -->
            <div *ngSwitchCase="NodeType.Indicator">
                <backlive-indicator [class.activated]="node.activated"
                    [indicator]="node" 
                    (nodeChange)="onNodeChange($event, i)"
                    (remove)="onRemoveNode($event, i)"
                    [style.margin-left]="node.position.x + '%'" 
                    [style.margin-top.px]="node.position.y">
                </backlive-indicator>
            </div>
            <!-- strategies -->
            <div *ngSwitchCase="NodeType.Strategy" class="center-strategy">
                <backlive-strategy [class.activating]="node.activating" [class.activated]="node.activated"
                    [strategy]="node"
                    (nodeChange)="onNodeChange($event, i)" 
                    (addInput)="onAddInput(node, $event)">
                </backlive-strategy>
            </div>
            <!-- portfolios -->
            <div *ngSwitchCase="NodeType.Portfolio" class="portfolio">
                <backlive-portfolio [class.activating]="node.activating" [class.activated]="node.activated"
                    [portfolio]="node"
                    (nodeChange)="onNodeChange($event, i)" 
                    (addInput)="onAddInput(node, $event)">
                </backlive-portfolio>
            </div>
        </div>
    </template>
</div>
<sliding-nav [items]="navItems"></sliding-nav>

<backlive-modal></backlive-modal>