<div [animate]="pageAnimation" *ngIf="network" class="network">
    <svg>
        <ng-template ngFor let-node [ngForOf]="nodes" let-i="index">
            <ng-template [ngIf]="node.line">
                <path [attr.id]="'path' + node._id" [attr.d]="node.line" [attr.stroke]="node.activated ? '#4797A8' : '#12455a'" stroke-width="2" />
                <path *ngIf="node.activating" [attr.d]="getActivationLine(node)" [attr.stroke]="'#f00'" stroke-width="3" />
            </ng-template>
        </ng-template>
    </svg>
    <div class="hyper-params clearfix">
        <div class="param">
            <label>Learn Rate</label>
            <input type="text" [(ngModel)]="network.learnRate" class="form-control" (blur)="update()" />
        </div>
        <div class="param">
            <label># Epochs</label>
            <input type="text" [(ngModel)]="network.epochs" class="form-control" (blur)="update()" />
        </div>
        <div class="param">
            <label>Batch Size</label>
            <input type="text" [(ngModel)]="network.batchSize" class="form-control" (blur)="update()" />
        </div>
        <div class="param">
            <label>Reg. Param</label>
            <input type="text" [(ngModel)]="network.regParam" class="form-control" (blur)="update()" />
        </div>
        <div class="param">
            <label>Hid Nodes</label>
            <input type="text"[(ngModel)]="network.hiddenLayers[0]" class="form-control" (blur)="update()" />
        </div>
    </div>
    <ng-container *ngFor="let node of nodes; let i = index">
        <div [ngSwitch]="node.ntype">
            <!-- indicators -->
            <div *ngSwitchCase="NodeType.Indicator">
                <backlive-indicator [class.activated]="node.activated" *ngIf="node.position"
                    [indicator]="node" 
                    (nodeChange)="onNodeChange($event)"
                    (loadInputs)="onLoadInputs(node, $event)"
                    (addInput)="onAddInput(node, $event)"
                    (remove)="onRemoveNode($event, i)"
                    [style.left.px]="node.position.x" 
                    [style.top.px]="node.position.y">
                </backlive-indicator>
            </div>
            <!-- strategies -->
            <div *ngSwitchCase="NodeType.Strategy" class="center-strategy">
                <backlive-strategy [class.activating]="node.activating" [class.activated]="node.activated"
                    [strategy]="node"
                    (nodeChange)="onNodeChange($event)"
                    (loadInputs)="onLoadInputs(node, $event)"
                    (addInput)="onAddInput(node, $event)">
                </backlive-strategy>
            </div>
            <!-- portfolios -->
            <div *ngSwitchCase="NodeType.Portfolio" class="portfolio">
                <backlive-portfolio [class.activating]="node.activating" [class.activated]="node.activated"
                    [portfolio]="node"
                    (nodeChange)="onNodeChange($event)"
                    (loadInputs)="onLoadInputs(node, $event)"
                    (addInput)="onAddInput(node, $event)">
                </backlive-portfolio>
            </div>
        </div>
    </ng-container>
</div>

<sliding-nav [items]="navItems"></sliding-nav>
<footer-nav></footer-nav>
<backlive-modal></backlive-modal>