@import "css/plugins/mixins.less";
@import "css/themes/colors.less";
@import "css/themes/text.less";

.param {
    position: relative;
    padding: 3px 5px;
    border: 1px solid @border-default;
    .border-radius(5px);
    background: @gray-light;
    display: inline-block;
    margin: 0px 3px;
}
.field {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid @border-default;
    background: @white;
    position: relative;
    .border-radius(5px);
    .controls {
        .opacity(0);
        position: absolute;
        top: 0;
        left: 3px;
        padding: 0 3px 3px 3px;
        width: 68px;
        box-sizing: border-box;
        z-index: 1;
        border: 1px solid @border-default;
        border-bottom: none;
        .border-radius(5px);
        .border-bottom-radius(0);
        background: @gray-lighter;
        .transition(~"top .5s ease-out, opacity .5s ease-out");
        span {
            padding: 0 3px;
            cursor: pointer;
            &.group-eq {
                color: @brand-primary;
            }
            &.abs-val {
                color: @brand-secondary;
                font-size: 1.2em;
                position: relative;
                top: 2px;
            }
            &.remove {
                color: @brand-danger;
                font-size: 1.8em;
                position: relative;
                line-height: 16px;
                top: 5px;
            }
            &:hover {
                .opacity(70);
            }
        }
    }
    &:hover {
        .controls {
            .opacity(100);
            top: -28px;
        }
        background: @gray-lighter;
    }
}
select {
    height: 28px;
    border: 1px solid @border-default;
    .border-radius(5px);
    font-size: @text-large;
    margin: 0 5px;
    position: relative;
    top: 1px;
}