<template [ngIf]="param.vars">
    <div [class.param]="!isRoot">
        <template ngFor let-field [ngForOf]="param.vars" let-i="index">
            <backlive-indicator-param [param]="field" (remove)="onRemove(i)" (group)="onGroup(i, $event)" (fieldClick)="onClick(i)"></backlive-indicator-param>
            <select *ngIf="param.ops.length > i" [(ngModel)]="param.ops[i]">
                <option value="1">+</option>
                <option value="2">-</option>
                <option value="3">&times;</option>
                <option value="4">/</option>
            </select>
        </template>
    </div>
</template>
<div *ngIf="!param.vars" class="field" [class.group]="isGrouping">
    <div class="controls">
        <span class="group-eq" (click)="groupEquation()" tooltip="group fields">( )</span>
        <span class="abs-val" (click)="setAbsoluteValue()" tooltip="absolute value">| |</span>
        <span class="remove" (click)="removeField()" tooltip="remove">&times;</span>
    </div>
    <div class="name" [class.abs]="isAbsoluteValue()" (click)="fieldClicked()">{{param[1]}}</div>
</div>