<div class="sidebar" [class.active]="isActive">
    <div class="icons">
        <a href="javascript:void(0)" *ngFor="let item of items" (click)="showSideBar(item)" [tooltip]="isActive ? null : item.tooltip" placement="right">
            <ui-icon [type]="item.icon" [ngClass]="{ active: item.isActive }" aria-hidden="true"></ui-icon>
        </a>
    </div>
    <div class="component">
        <div #scrollView class="scroll-view" [style.max-height.px]="scrollViewHeight">
            <div #component></div>
        </div>
    </div>
</div>