<div [class]="pageAnimation">
	<div class="header clearfix" [ng-style]="{ height: headerHeight + 'px' }">
		<img src="/images/bballbg.jpg" class="bball-bg" />
		<div id="chart"></div>
		<div class="container">
			<nav class="navbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#live-menu">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./"></a>
				</div>
				<div class="collapse navbar-collapse" id="live-menu">
					<ul class="nav navbar-nav navbar-right">
						<!--<li><a href="#company" data-transition="flow">Company</a></li>-->
						<li class="register-nav">
							<a class="btn btn-show-register dropdown-toggle" href="#" style="width:280px">30 Day Free-Trial</a>
							<ul class="dropdown-menu register-menu">
								<li>
									<div class="login-form clearfix">
										<div class="form-group">
											<label>Username</label>
											<input id="txt_reg_uname" type="text" class="form-control" name="name" maxlength="20" autocorrect="off">
										</div>
										<div class="form-group">
											<label>Email</label>
											<input id="txt_reg_email" type="text" class="form-control" name="name" maxlength="150" autocorrect="off">
										</div>
										<div class="form-group">
											<label>Password</label>
											<input id="txt_reg_pword" type="password" class="form-control" name="name" maxlength="20" autocorrect="off">
										</div>
										<div class="error-msg">username or password incorrect</div>
										<div class="form-group accept-terms">
											<input type="checkbox" data-role="none" /> I accept the <a href="/terms.html" target="_blank">Terms of Service</a>
										</div>
										<div class="form-group">
											<button class="btn-register btn pull-right" onclick="Home.register()">Register</button>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<a class="btn-signin dropdown-toggle" href="#">Sign In</a>
							<ul class="dropdown-menu sign-in-menu">
								<li>
									<div class="login-form clearfix">
										<div class="form-group">
											<label>Username</label>
											<input id="txt_uname" type="text" class="form-control" name="name" maxlength="20" autocorrect="off">
										</div>
										<div class="form-group">
											<label>Password</label>
											<input id="txt_pword" type="password" class="form-control" name="name" maxlength="20" autocorrect="off">
										</div>
										<div class="error-msg">username or password incorrect</div>
										<div class="form-group">
											<button class="btn-login btn pull-right" onclick="Home.login()">Sign In</button>
										</div>
										<div class="form-group">
											<a href="javascript:Home.forgotPassword()" target="_blank">forgot password?</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li><a href="#pricing" data-transition="flip" onclick="Home.pageView('pricing')">Pricing</a></li>
						<li class="hide"><a href="http://blog.backlive.io/" target="_blank">Blog</a></li>
						<li class="hide"><a class="btn-invite" href="#invite" data-transition="flip" onclick="Home.pageView('invite')">Request an Invite</a></li>
						<li><a href="javascript:Home.showContactUs()" onclick="Home.pageView('contactus')">Contact Us</a></li>
					</ul>
				</div>
				<!-- // navbar-collapse -->
			</nav>
			<div class="intro-text" [ng-style]="{ 'margin-top': introTextMargin + 'px' }">
				<h1>Today's top stock backtester</h1>
				<a class="btn hide" href="javascript:Home.learnMore()" data-transition="slide">Learn More</a>
				<div class="screenshot-container clearfix">
					<div class="left">
						<div class="text">
							<h3>Research &amp; Analysis</h3>
							<p>Cutting-edge ratio building and charting</p>
						</div>
						<div class="inner" [ng-style]="{ height: screenshotHeight + 'px' }"><img src="/images/portfolio.png" /></div>
					</div>
					<div class="middle">
						<div class="text">
							<h3>Strategy Backtesting</h3>
							<p>Complete customization. Test any fundamental, technical or economic strategy.</p>
						</div>
						<div class="inner" [ng-style]="{ height: screenshotMiddleHeight + 'px' }">
							<img src="/images/backtest_googl.png" />
							<div class="overlay" onclick="Home.playVideo()" [ng-style]="{ 'line-height': screenshotOverlayLineHeight + 'px' }">
								<img src="/images/video_play_overlay.png" />
							</div>
						</div>
					</div>
					<div class="right">
						<div class="text">
							<h3>Automated Execution</h3>
							<p>Automated portfolio trading and analysis</p>
						</div>
						<div class="inner" [ng-style]="{ height: screenshotHeight + 'px' }"><img src="/images/trader_sxi.png" /></div>
					</div>
				</div>
				<div class="features-container">
					<div class="feature">
						<span class="icon"><img src="/images/portfolio_sm.png" /></span>
						<h3>Research &amp; Analysis</h3>
						<p>Cutting-edge ratio building tools, screeners and comparative charting.</p>
					</div>
					<!-- // feature -->
					<div class="feature">
						<span class="icon"><img src="/images/backtest_googl_sm.png" /></span>
						<h3>Backtesting</h3>
						<p>Complete customization. Test any fundamental, technical or economic strategy.</p>
					</div>
					<!-- // feature -->
					<div class="feature">
						<span class="icon"><img src="/images/trader_sxi_sm.png" /></span>
						<h3>Automated Execution</h3>
						<p>Automated portfolio trading and analysis.</p>
					</div>
					<!-- // feature -->
				</div>
				<!-- // features-container -->
			</div>
			<div class="ie" style="display:none">
				<div class="warning">
					<h4>BackLive is not supported on this browser. We strive to provide you with the most seamless user experience possible by taking advantage 
                    of the best the web and HTML 5 technology has to offer.<br/><br/>Therefore to register/login, please enjoy the BackLive experience using 
                    the latest versions of <br/>Google Chrome (most recommended), Firefox, or Safari browsers.</h4>
				</div>
			</div>
		</div>
		<!-- // container -->
	</div>
	<div class="get-started hide">
		<div class="container">
			<h5>try BackLive <em>free for 30 days</em></h5>
			<a class="btn btn-try" href="#invite">Get Started Now!</a>
		</div>
		<!-- // container -->
	</div>
	<!-- // get-started -->
	<div class="container">
		<div class="partners clearfix">
			<div class="partners-container">
				<div class="barrons">
					<h3>As featured in...</h3>
					<a href="http://online.barrons.com/articles/two-websites-that-test-stock-trading-ideas-1419655594" target="_blank">
                        <img src="/images/barrons.png" />
                    </a>
				</div>
			</div>
		</div>
		<div class="partners clearfix">
			<div class="partners-container">
				<div class="pull-left ib-logo">
					<h3>&nbsp;Approved IB Trading Platform</h3>
					<a href="http://www.interactivebrokers.com" target="_blank">
                        <img src="/images/ib-logo.png" />
                    </a>
				</div>
				<div class="pull-left ib-text">
					Interactive Brokers (IB) is a low cost provider of trade execution and clearing services for individuals, advisors, prop
					trading groups, brokers and hedge funds. IB's premier technology provides direct access to stocks, options, futures,
					forex, bonds and funds on over 100 markets worldwide from a single IB Universal account.
					<br/>
					<br/> Member NYSE, FINRA, SIPC. Visit <a href="http://www.interactivebrokers.com" target="_blank">www.interactivebrokers.com</a>					for more information.
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="links">
				<a href="#company" onclick="Home.pageView('company')">About Us</a>
				<a href="/faq.html" onclick="Home.pageView('faq')">FAQ</a>
				<a href="javascript:Home.showContactUs()" onclick="Home.pageView('contactus')">Contact Us</a>
				<a href="/terms.html" onclick="Home.pageView('terms')">Terms of Service</a>
				<a href="/privacy.html" onclick="Home.pageView('privacy')">Privacy Policy</a>
			</div>
			<!-- // nav-wrap -->
			<p class="copyright">&copy; 2015 BackLive Labs LLC. All Rights Reserved.</p>
			<img src="/images/logo-sm-gray.png" />
		</div>
		<!-- // container -->
	</footer>
</div>
<!-- // page_index -->