@import "/css/plugins/mixins.less";
@import "/css/theme/colors.less";

.strategies {

}
.strategy .pod {
    padding: 2px 10px;
    cursor: pointer;
}
.strategy .pod:nth-child(odd) {
    padding-bottom: 60px;
}
.strategy .name {
    font-size: 16px;
    font-weight: 600;
}
.strategy .pod:hover {
    background: #aaa;
}