@import "css/plugins/mixins.less";
@import "css/themes/colors.less";

.strategies, .backtests {
    margin-bottom: 10px;
    .clearfix;
    .strategy {
        .pod {
            padding: 2px 10px;
            cursor: pointer;
            &:hover {
                background: #aaa;
            }
        }
        .name {
            font-size: 16px;
            font-weight: 600;
        }
    }
}
