@import "../../../css/plugins/mixins.less";
@import "../../../css/theme/colors.less";

.strategies {

}
.strategy {
    .pod {
        padding: 2px 10px;
        cursor: pointer;
        &:hover {
            background: #aaa;
        }
    }
    .name {
        font-size: 16px;
        font-weight: 600;
    }
}