<div [animate]="pageAnimation" *ngIf="eventLoop">
    <svg>
        <template ngFor let-node [ngForOf]="nodes" let-i="index">
            <path *ngIf="node.ntype === NodeType.Indicator" [attr.d]="getLine(node)" stroke="#12455a" stroke-width="2" />
        </template>
    </svg>
    <template ngFor let-node [ngForOf]="nodes" let-i="index">
        <div [ngSwitch]="node.ntype">
            <!-- indicators -->
            <backlive-indicator *ngSwitchCase="NodeType.Indicator"
                [indicator]="node" 
                (nodeChange)="onNodeChange($event, i)"
                (remove)="onRemoveNode($event, i)"
                [style.margin-left]="node.position.x + '%'" 
                [style.margin-top.px]="node.position.y">
            </backlive-indicator>
            <!-- strategies -->
            <div *ngSwitchCase="NodeType.Strategy" class="center-strategy">
                <backlive-strategy
                    [strategy]="node"
                    (nodeChange)="onNodeChange($event, i)" 
                    (addInput)="onAddInput(node, $event)">
                </backlive-strategy>
            </div>
            <!-- portfolios -->
        </div>
    </template>
</div>