<div class="row">
    <div [ngClass]="showPane ? 'col-md-6' : 'col-md-12'" [class.right-padding-hack]="showPane">
        <ng-content select="[left-side]"></ng-content>
    </div>
    <div *ngIf="showPane" class="col-md-6" [class.outer-content]="fixRightPane" [class.row]="fixRightPane" [class.pane-right]="!fixRightPane">
        <div [class.inner-content]="fixRightPane" [class.col-md-6]="fixRightPane" [class.pane-right]="fixRightPane">
            <ui-icon class="close-icon hover" type="remove" (click)="closePane()"></ui-icon>
            <div class="pane-header">
                <span class="pane-title"></span>
            </div>
            <div class="pane-content">
                <ng-content select="[right-side]"></ng-content>
            </div>
        </div>
    </div>
</div>
