<div class="node">
    <input type="text" class="form-control" [(ngModel)]="strategy.name" (blur)="update()" placeholder="enter strategy name" />
</div>
<div *ngIf="strategy?.name" class="controls">
    <ui-button type="submit" (click)="addIndicator()">
        <ui-icon type="add"></ui-icon>
    </ui-button>
    <ui-button type="secondary" (click)="onEdit()">
        <ui-icon type="settings"></ui-icon>
    </ui-button>
    <ui-button type="commit" (click)="executeStrategy()">
        <ui-icon type="play"></ui-icon>
    </ui-button>
</div>
<div class="editor">
    
</div>