<!DOCTYPE html>
<html>
<head>
<title>BackLive - Predictive Stock Backtesting</title>
<base href="/">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
<meta name="description" content="BackLive - Predictive financial backtesting, stock market research, automated trading" />
<meta name="keywords" content="backtesting automated trading fundamental analysis" />

<link rel="stylesheet" href="/css/plugins/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/css/plugins/jquery-ui.min.css" type="text/css" />

<script type="text/javascript" src="//use.typekit.net/pwz7lxr.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<link rel="stylesheet" href="/css/app.css" type="text/css" />

<script src="/node_modules/typescript/lib/typescript.js"></script>
<script src="/node_modules/core-js/client/shim.min.js"></script>
<script src="/node_modules/systemjs/dist/system-polyfills.js"></script>
<script src="/js/shims_for_IE.js"></script>
<script src="/node_modules/intl/dist/Intl.min.js"></script> 
<script src="/node_modules/intl/locale-data/jsonp/en.js"></script>

<script src="/node_modules/zone.js/dist/zone.js"></script>
<script src="/node_modules/reflect-metadata/Reflect.js"></script>
<script src="/node_modules/systemjs/dist/system.src.js"></script>

</head>

<body>
    <backlive-app></backlive-app>
    
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/js/md5.min.js" type="text/javascript"></script>
    <script src="/js/underscore-min.js" type="text/javascript"></script>
    <script src="/js/plugins/jquery-2.1.4.min.js"></script>
    <script src="/js/plugins/jquery-ui.min.js"></script>
    <script src="/js/plugins/jquery.isotope.min.js"></script>
    <script src="/js/plugins/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/date-format.js" type="text/javascript"></script>
    <script src="/js/plugins/highcharts/highstock.js" type="text/javascript"></script>
    <script src="/js/plugins/d3.min.js" type="text/javascript"></script>
    <script src="/js/jstorage.min.js" type="text/javascript"></script>

    <script>
        var WEB_CONFIG = {
            BaseUrl: '/',
            SiteUrl: '',
            Development: false,
            CacheBuster: '',
            ComponentExtension: 'ts'
        }
        
        var ENV = 'dev';
        
        if(ENV == 'dev') {
            WEB_CONFIG.Development = true;
            WEB_CONFIG.CacheBuster = '?v=' + Math.round(Math.random() * 1000000000);
            WEB_CONFIG.ComponentExtension += WEB_CONFIG.CacheBuster;
            WEB_CONFIG.ShowErrors = true;
        }
        
    </script>
    <script src="/js/build/system.config.js" type="text/javascript"></script>
    <script>System.import('app/main');</script>
</body>

</html>

